/* frontend\src\components\AboutContent\aboutcontent.css */

.about-content-wrapper {
  max-width: 100vw;
}

.card-description {
  max-width: 80%;
  margin: 0 auto;
}

@media only screen and (max-device-width: 768px) {
  .about-content-wrapper {
    padding-top: 10%;
  }
}
