# Environmental Variables
.env

# Pycache
__pycache__/

*.log
*.pot
*.pyc

local_settings.py
db.sqlite3
db.sqlite3-journal
media

# General MacOS files to ignore
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent