/* frontend/src/components/TopNav/topnav.css */

.navbar-nav {
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

li a {
  color: lightgrey;
  text-decoration: none;
}

li a:hover {
  color: lightslategray;
}
