/* frontend/src/components/Footer/footer.css */

.footer-wrapper {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 10vh;
  background-image: url("https://i.imgur.com/X4xR6dZ.png");
  background-size: 100% 100%;
  background-color: blueviolet;
}
