/* frontend/src/components/MenuComponents/FoodCard */

.food-item {
  border: 5px solid green;
  width: 40%;
  background-color: transparent;
}

.food-label-container {
  max-width: 10rem;
}

.food-label {
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  .column-1 {
    display: none;
  }

  .food-item {
    width: 100%;
    margin: 0 auto;
  }

  .food-middle-row {
    flex-direction: column-reverse;
  }
}
